<!DOCTYPE hmtl>
<html>
  <head>
    <title></title>
    <meta charset='utf-8'>
    <link rel="stylesheet" type="text/css" href="{{{ assets_host }}}/assets/bundle-{{{ digest }}}.css"/>
  </head>
  <body>
    {{{ content }}}
    <script type="application/javascript" src="{{{ assets_host }}}/assets/bundle-{{{ digest }}}.js"></script>
  </body>
</html>
